PORT=3333

# IXC TELECOM
IXC_API_URL=https://demo.ixcsoft.com.br/webservice/v1
IXC_API_TOKEN=1c0e2d764be841d9b88b02414337d7bbc2dd4e1bb940295343b36d31cbaa9f98
IXC_API_USER=105

# INTELIGÊNCIA ARTIFICIAL
AI_API_KEY=IA-API-TOKEN
AI_MODEL=qwen3-30b-a3b-fp8
AI_URL_WORKER=https://api.cloudflare.com/client/v4/accounts/{accountID}/ai/run/@cf/qwen/qwen3-30b-a3b-fp8